
body {background-image: url("night2.jpg");text-align:center;}
h1   {color:rgb(250, 250, 210);text-align:center;text-align:center;font-family: Papyrus, Times, serif;font-size:170%;}
h5   {color:rgb(245, 245, 245);font-size:150%}
pre    {color:rgb(240, 128, 128);font-size:140%}

#t01{
 margin: 0 auto; width: 75%;
align:center;
}

}
table {
  width:75%;
 align:center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
align:center;
}
th, td {
  padding: 15px;
  text-align: center;
}
#t01 tr:nth-child(even) {
  background-color: rgb(176, 196, 222);
	 color: white;
}
#t01 tr:nth-child(odd) {
 background-color: rgb(230, 230, 250);
}

#t01 th {
  background-color: rgb(106, 90, 205);
  color: white;
}

a{
color:rgb(255, 240, 245)
}