body{
    margin: 0px;
    background-color: #333333;
    width:100%;
    /* min-width: 400px; */
}

h2{
    color: #333333;
    margin: 0px 15px;
    position: absolute;
    left: 0px;
}

header{
    background-color: #d6d6d6;
    color: #333333;
    text-align: right;
    line-height: 60px;
    height: 60px;
}

header input{
    text-align: center;
    margin:8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    background-color: transparent;
}

main{
    width: 60%;
    /* min-width: 700px; */
    height: auto;
    margin: 8% auto;
    border: 10px #d6d6d6 solid;
    border-top: 25px #d6d6d6 solid;
    border-bottom: 30px #d6d6d6 solid;
    outline: 10px #4f4f4f double;
    border-radius: 15px;
    color: #d6d6d6;
    padding: 20px 40px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

p{
    font-size: 20px;
}

table{
    width: 90%;
    margin: 10px 5%;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

th{
    text-align: left;
    padding: 15px 8px;
}

td{
    padding: 8px;
    border-bottom: 0.5px #898989 solid;
}