body{
    margin: 0px;
    /* min-width: 1200px; */
}

h2{
    color: #ececec;
    margin: 0px 15px;
    position: absolute;
    left: 0px;
}

header{
    background-color: #333333;
    color: #FFFFFF;
    text-align: right;
    line-height: 60px;
    height: 60px;
}

header input{
    text-align: center;
    margin:8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #f7f7f7;
    background-color: transparent;
}

main{
    width: 80%;
    margin: 50px 10% 50px 10%;
}

main input{
    padding: 20px;
    border-radius: 15px;
    margin-left: 2%;
    font-size: 18px;
    font-weight: 550;
    border: none;
    outline: none;
    background: #4e6eab;
    color: #FFFFFF;
    float: right;
}

h1{
    color: #5fb9ea;
    font-size: 50px;
    border-bottom: 4px #5fb9ea solid;
    margin: 2% 0%;
}

p{
    padding: 0% 5%;
    color: #398bd3;
    font-size: 22px;
    font-weight: 600;
}
