
body{
    margin: 0px;
    width: 100%;
    /* min-width: 1200px; */
}

@media only screen and (max-width: 400px) {
    body { 
        margin: 0px;
        width: 155%; 
    }
}

h2{
    color: #ececec;
    margin: 0px 15px;
    position: absolute;
    left: 0px;
}

header{
    background-color: #333333;
    color: #FFFFFF;
    text-align: right;
    line-height: 60px;
    height: 60px;
}

header input{
    text-align: center;
    margin:8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #f7f7f7;
    background-color: transparent;
}

main{
    width: 80%;
    display: flex;
    margin: 50px 5% 50px 15%;
    flex-wrap: wrap;
}

main img{
    width: 400px;
    height: 100%;
    margin-right: 150px;
}

main .information{
    margin: 50px 0px;
}

main .title{
    font-size: 30px;
    font-weight: 600;
}

main form{
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

main select{
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

main .booking input{
    padding: 20px;
    border-radius: 15px;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    outline: none;
    background: #cb4242;
    color: #FFFFFF;
}

.information img{
    width: 450px;
    height: auto;
    margin: 0px;
}

.hadSelled{
    background-color: #e9a251;
    border: 1px black solid; 
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.notSelled{
    background-color: #ffffff;
    border: 1px black solid;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.blank{
    height: 1px;
    max-width: 10px;
}

table{
    margin-left: -50px;
}

td{
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}