body{
    margin: 0px;
    background-color: #ececec;
    width:100%;
    min-width: 400px;
    height: auto; 
}

h2{
    color: #ececec;
    margin: 0px 15px;
    position: absolute;
    left: 0px;
}

header{
    background-color: #333333;
    color: #FFFFFF;
    text-align: right;
    line-height: 60px;
    height: 60px;
}

header input{
    text-align: center;
    margin:8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #f7f7f7;
    background-color: transparent;
}

.loginBlock{
    margin: 5% auto;
    width: 90%;
    max-width: 400px;
    height: 550px;
    background-color:#FFFFFF;
    border-radius: 15px;
    text-align: center;
    color: #333333;
}

.loginBlock h3{
    position: relative;
    top: 55px;
    font-size: 24px;
}

.login{
    position: relative;
    transform: translate(50%, -50%);
    top: 40%;
    left: -50%;
}

.login input{
    width: 200px;
    height: 35px;
    margin: 20px auto;
    border: 2.5px #ececec solid;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
}

.register{
    width: 200px;
    height: 35px;
    margin: 20px auto;
    border: 2.5px #ececec solid;
    border-radius: 5px;
    font-size: 12px;
    position: relative;
    top: 35px;
    outline: none;
}