body{
    width: 100%;
    margin: 0px;
    /* min-width: 1200px; */
}

h2{
    color: #ececec;
    margin: 0px 15px;
    position: absolute;
    left: 0px;
}

header{
    background-color: #333333;
    color: #FFFFFF;
    text-align: right;
    line-height: 60px;
    height: 60px;
}

header input{
    text-align: center;
    margin:8px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #f7f7f7;
    background-color: transparent;
}

main{
    padding: 20px 4%;
    display: flex;
}

.siderPadding{
    width: 20%;
    height: 500px;
    min-width: 120px;
    max-width: 220px;
    position: relative;
    top:50px;
    float: left;
    padding: 0px;
}

.sider{
    width: 20%;
    height: 500px;
    min-width: 120px;
    max-width: 220px;
    position: absolute;
    top: 150px;
    float: left;
    border: 3px #666666 solid;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}

.sider p{
    margin: -2px -1px;
    border-radius: 5px;
    height: 75px;
    width: 101%;
    font-size: 22px;
    line-height: 80px;
    color: #FFFFFF;
    background-color:#666666;
    text-align: center;
}

.sider input{
    width: 60%;
    text-align: center;
    margin: 8px 0px;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    font-size: 15px;
    background-color: #f7f7f7;
    outline: none;
}

.filmBlock{
    position: relative;
    top: 25px;
    left: 5%;
    width: 70%;
    border: 3px #666666 solid;
    border-radius: 5px;
    padding: 45px 6%;
    margin-right: 4%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.film{
    width: 180px;
    height: 400px;
    padding: 1%;
    /* background-color: #42b079; */
}

.film img{
    width: 170px;
}
.film p{
    font-size: 18px;
    font-weight: 600;
    /* line-height: 6px; */
}

.film .kind{
    border-radius: 8px;
    padding: 5px;
    background-color: #ffe189;
    font-size: 16px;
}
